<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Correo</title>
</head>
<body>
 <div style="background:#e0e0e0; width:100%; max-width:500px; margin-left:30%; font-family:sans-serif; box-shadow: 6px 6px 6px #999;">
  <div style="background:#4db6ac; width:100%; color:#fafafa; text-align:center; padding-bottom:1%; padding-top:1%;">
    <h1>Carrera 5k</h1>
  </div>
   <div style="padding:10%;  ">
    <h2>Informacion de la inscripción </h2>
    Número de Corredor: <%= @runner_number %>
    <div></div>
    <h2>Informacion de la Carrera </h2>
     Carrera: <%= @race_name %>
     <div></div>
     Fecha: <%= @race_date %>
     <div></div>
     Lugar: <%= @race_address %>
     <div></div>
     Precio: <%= @price %>
     <div></div>

     <h2>Información Personal </h2>
     Nombre Completo: 
     <div></div>
     Sexo:  
     <div></div>
     Fecha de Nacimiento: 
     <div></div>
     Dirección: 
     <div></div>
     Lugar de   Origen: 
     <div></div>
     Email: <%= @user %>
     <div></div>
     Telefono: 
     <div></div>
     Celular: 
     <div></div>
     </div>

</div>



  
</body>
</html>