<div class="container">
  <h2>Crear una carrera</h2>
  <div class="row">
    <div class="col col s8 offset-s2">
		<%= form_for :race_editions, url:{:action => 'create'} do |r| %>
			<%= r.label :race_name, "Nombre de la Carrera" %></br>
			<%= r.text_field :race_name %></br>
			<%= r.label :no_kilometers, "Numero de Kilometros" %></br>
			<%= r.text_field :no_kilometers %></br>
			<%= r.label :race_date, "Fecha de la carrera" %></br>
			<%= r.text_field :race_date %></br>
			<%= r.label :race_address, "Direccion" %></br>
			<%= r.text_field :race_address %></br>
			<%= r.label :route_id %></br>
			<%= r.text_field :route_id %></br>
			<%= r.label :no_of_running_kits, "Numerode Kits que se obsequiaran" %></br>
			<%= r.text_field :no_of_running_kits %></br>
			<%= r.submit "Guardar Carrera", class:"btn"%>  
		<% end %>
	</div>
  </div>
</div>