<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Carrera5k</title>

  <!-- CSS  -->
  <link href="http://yonkethecardepot.com/website/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="carousel/style.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <script type="text/javascript" src="http://www.yonkethecardepot.com/website/js/init.js"></script>
 <script type="text/javascript" src="http://www.yonkethecardepot.com/website/js/materialize.min.js"></script>
 <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&sensor=false&language=en"></script>
 
</head>
<body>

<ul id="slide-out" class="side-nav cyan accent-4">
        <a href="/" class="brand-logo">Inicio</a>
        <li class="divider"></li>
        <li><%= link_to 'Administrar Usuarios', runners_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Crear Carrera', new_race_edition_path %></li>  
        <li><%= link_to 'Listar Carrera', race_editions_path %></li>  
        <li class="divider"></li>
        <li><%= link_to 'Crear Mapas', new_route_path %></li>
        <li><%= link_to 'Listar Mapas', routes_path %></li>  
  </ul>
</ul>



	<nav class="teal accent-4" role="navigation">
    	<div class="nav-wrapper container">
      		<a id="logo-container" href="" class="brand-logo"><%= link_to 'La Carrera', root_path %>
            <!---->
          </a>

        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to 'Editar Usuario', edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Cerrar sesion', destroy_user_session_path, :method => :delete %></li>
        </ul>  

        <ul class="right hide-on-med-and-down">

          <li><a href="/race_editions">Historia</a></li>
          <li><a href="/mains/about">Acerca de..</a></li>
        <% if user_signed_in? %>  
          <li><a href="#!" class="dropdown-button" data-activates="dropdown1" ><%=current_user.email%></a></li>          
        <% else %>
          <li><%= link_to 'Registrarse', new_user_registration_path %></li>  
        <% end %>  
          
      	</ul>
        


      	<ul id="nav-mobile" class="side-nav">
          <li><a href="/race_editions">Historia</a></li>
          <li><a href="/mains/about">Acerca de..</a></li>
        <% if user_signed_in? %>            
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Registrarse', new_user_registration_path %></li>  
        <% end %>
      	</ul>
      	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    	</div>

      
      
      
  	</nav>
    <li class="medium material-icons" style="position:absolute;right:10%; top:20px;"><a href="#" data-activates="slide-out" class="button-collapse"><i class="small mdi-navigation-menu"></i></a></li>

    
    
       
    
			<%= yield %>

      

  <footer class="page-footer  light-blue darken-4" margin-top="0px">
    
    <div class="container">
      <div class="row">
        
        <div class="col l6 s12">
       
          <h5 class="white-text">Corredores Berrendos</h5>
          <p class="grey-text text-lighten-4">Club de <strong>Corredores Berrendos</strong> es un grupo de corredores recreativos de diversos niveles originarios de Baja California México.</p>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        Hecho por  Hard Designs</a>
      </div>
    </div>

  </footer>


</body>
  

<script type="text/javascript">
  $('.button-collapse').sideNav({
      menuWidth: 200, // Default is 240
      menuHeight: 100,
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
</script>

</html>
